body{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;
    background-color: #b1d1ee;
}
.container{
    margin: 20px;
}
.services{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.service{
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}
.book-btn{
    background-color: #fffed1;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
}
.error{
    color: red;
    font-size: 12px;
}
.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
}
